*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 31.25%; } }

.container {
  font-family: sans-serif;
  min-height: 100vh;
  padding: 2rem;
  background-color: #2b1e49;
  color: #fff;
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr; }
  @media only screen and (max-width: 37.5em) {
    .container {
      padding: 1rem; } }

.heading-1 {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 7rem; }

.heading-2 {
  font-size: 3rem;
  text-transform: uppercase; }
  .heading-2--kleedkamer {
    color: #008bbc; }

.heading-3 {
  font-size: 1.8rem;
  font-weight: lighter;
  letter-spacing: 2px;
  word-spacing: 1px; }
  .heading-3--blue {
    background-color: #008bbc;
    padding: 1rem 2rem;
    border-radius: 1rem; }

p {
  font-size: 3.5rem;
  letter-spacing: 0.5px; }

.p-vb {
  font-size: 2.75rem;
  font-weight: lighter; }

.kleedkamer-lighter {
  font-weight: lighter; }

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  margin-top: 13rem;
  margin-right: 11rem;
  margin-bottom: 8rem;
  margin-left: 11rem; }
  @media only screen and (max-width: 62.5em) {
    .header {
      margin-right: 8rem;
      margin-left: 8rem; } }
  @media only screen and (max-width: 50em) {
    .header {
      margin-right: 4rem;
      margin-top: 2rem;
      margin-left: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .header {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      margin-right: 1rem;
      margin-bottom: 4rem;
      margin-left: 1rem; } }
  .header__date {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.25rem 2rem;
    border-radius: 1.5rem;
    background-color: #008bbc; }

.zalen {
  margin-right: 11rem;
  margin-bottom: 8rem;
  margin-left: 11rem;
  display: grid;
  grid-row-gap: 1.5rem;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .zalen {
      margin-right: 8rem;
      margin-left: 8rem; } }
  @media only screen and (max-width: 50em) {
    .zalen {
      margin-right: 4rem;
      margin-left: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .zalen {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .zalen {
      margin-right: 1rem;
      margin-bottom: 4rem;
      margin-left: 1rem; } }
  .zalen__grotezaal {
    display: grid;
    grid-template-columns: 1fr max-content; }
    .zalen__grotezaal-zaal {
      font-size: 2.5rem;
      text-transform: uppercase;
      max-height: 5.4rem;
      background-color: #e73454;
      padding: 1.25rem 2rem;
      border-radius: 1.5rem; }
  .zalen__rabozaal {
    display: grid;
    grid-template-columns: 1fr max-content; }
    .zalen__rabozaal-zaal {
      font-size: 2.5rem;
      text-transform: uppercase;
      max-height: 5.4rem;
      background-color: #e1617a;
      padding: 1.25rem 2rem;
      border-radius: 1.5rem; }

.kleedkamers {
  margin-right: 11rem;
  margin-left: 11rem;
  display: grid;
  align-items: center;
  grid-row-gap: 1.5rem; }
  @media only screen and (max-width: 62.5em) {
    .kleedkamers {
      margin-right: 8rem;
      margin-left: 8rem; } }
  @media only screen and (max-width: 50em) {
    .kleedkamers {
      margin-right: 4rem;
      margin-left: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .kleedkamers {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .kleedkamers {
      margin-right: 1rem;
      margin-left: 1rem; } }
  .kleedkamers__beganegrond-list {
    list-style: none;
    margin-bottom: 6rem;
    display: grid;
    align-items: center;
    grid-row-gap: 1.5rem; }
    @media only screen and (max-width: 31.25em) {
      .kleedkamers__beganegrond-list {
        margin-bottom: 4rem; } }
    .kleedkamers__beganegrond-list-item {
      display: grid;
      grid-template-columns: 1fr max-content; }
      .kleedkamers__beganegrond-list-item-nummer {
        background-color: #e73454;
        font-size: 2.5rem;
        max-height: 5.4rem;
        padding: 1.25rem 2rem;
        border-radius: 1.5rem; }
  .kleedkamers__eerste-list {
    list-style: none;
    margin-bottom: 6rem;
    display: grid;
    align-items: center;
    grid-row-gap: 1.5rem; }
    @media only screen and (max-width: 31.25em) {
      .kleedkamers__eerste-list {
        margin-bottom: 4rem; } }
    .kleedkamers__eerste-list-item {
      display: grid;
      grid-template-columns: 1fr max-content; }
      .kleedkamers__eerste-list-item-nummer {
        background-color: #e1617a;
        font-size: 2.5rem;
        max-height: 5.4rem;
        padding: 1.25rem 2rem;
        border-radius: 1.5rem; }

.footer {
  align-self: end; }

.voorstellingsbegeleiders {
  width: max-content;
  margin-left: 11rem;
  display: grid;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .voorstellingsbegeleiders {
      margin-left: 8rem;
      margin-bottom: 8rem; } }
  @media only screen and (max-width: 50em) {
    .voorstellingsbegeleiders {
      margin-left: 4rem;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .voorstellingsbegeleiders {
      margin-left: 2rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .voorstellingsbegeleiders {
      margin-left: 1rem;
      margin-bottom: 1rem; } }

.dnk__logo {
  display: grid;
  grid-template-columns: 1fr max-content; }
  @media only screen and (max-width: 37.5em) {
    .dnk__logo {
      transform: translateX(8rem) scale(0.75); } }
  @media only screen and (max-width: 25em) {
    .dnk__logo {
      transform: translateX(16rem) scale(0.5); } }
  .dnk__logo-img {
    grid-column: 2 / 3; }
